body {
	background-color: #EEE;
	font-family: Helvetiva, Arial, sana-serif;
	height: 600px;
}

#topnav {
      overflow: hidden;
	  background-color: #333;
	  height: 80px;
}

 #topnav a {
      float: left;
	  display: block;
	  color: #f2f2f2;
	  text-align: center;
      padding: 34px 36px;
	  text-decoration: none;
	  font-size: 20px;
	  height: 100px;
}

 #topnav a:hover {
      background-color: #ddd;
	  color: black;
}

 #topnav a.active {
      background-color: #A52238;
	  color: white;
}

a {
	text-decoration: none;
	color: black;
}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: rgb(220, 220, 220);
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
}

#header1 {
	background-image: url("DSC_0007.2.png");
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	padding: 20px;
	font-family: Bradley Hand ITC;
	font-size: 50px;
	height: 625px;
}

#header1 h1 a {
	color: white;
}

#header1 h3 a {
	color: white;
}

#header1 h5 {
	color: white;
	font-size: 60px
}

#header12 {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: Bradley Hand ITC;
	font-size: 50px;
	height: 200px;
	border: 5px solid #ddd;
}

#header12 a {
	text-decoration: none;
	color: white;
}

#headerCCM {
	color: black;
	text-align: center;
	padding: 20px;
	font-family: Bradley Hand ITC;
	font-size: 50px;
	height: 200px;
}

#header2 {
	background-color: #A52238;
	color: white;
	text-align: center;
	padding: 20px;
	clear: left;
}

#content {
	padding: 10px;
	height: 1500px
}

#main {
	width: 800px;
	margin: auto;
	padding: 10px;
	height: 1200px;
}

#main p {
	font-size: 25px;
	text-align: center;
}

#main h2.upcoming {
	text-align: left;
	background-color: ;
	padding: 10px;
	border: 3px solid black;
} 

#main li a {
	text-decoration: underline;
}

#main ul {
	font-size: 20px;
}

#main h2.recent {
	text-align: left;
	padding: 10px;
	border: 3px solid black;
}

#main p a {
	font-size: 20px;
	text-indent: 50px;
	text-decoration: underline;
}

#main p.tagline {
	font-size: 30px;
	text-indent: 40px;
	margin: auto;
	text-align: center;
}

#main2 {
	margin: auto;
	width: 1000px;
	height: 1000px;
	padding: 10px;
}

#main2 h2 {
	font-size: 30px;
	text-align: center;
	padding: 30px;
	background-color: #A52238;
	color: white;
}

#main2 img {
	display: block;
	margin: auto;
}

#main2 p {
    font-size: 20px;
}

#blog1 {
	width: 1000px;
	text-align: centre;
	padding: 10px;
	margin: auto;
}

#blog1 h2 {
	border: 2px solid black;
	text-align: center;
	background-color: #DDACB4;
	padding: 30px;
	
}

#blog2 {
	clear: both;
	width: 1000px;
	padding: 10px;
	margin: auto;
}

#blog2 h2 {
	border: 2px solid black;
	text-align: center;
	padding: 30px;
	background-color: #C77583;
}

#blog3 {
	width: 1000px;
	text-align: centre;
	padding: 10px;
	margin: auto;
}

#blog3 h2 {
	border: 2px solid black;
	text-align: center;
	background-color: #BB596A;
	padding: 30px;
}

#blogCCM {
	width: 900px;
	margin: auto;
	
}

#blogCCM h2 {
	border: 2px solid black;
	text-align: center;
	padding: 30px;
}

#blogCCM p a {
	text-decoration: underline;
	color: blue;
}

#header2blogCCM {
	color: white;
	text-align: center;
	padding: 20px;
	clear: left;
	background-image: url("IMG_2626[689]header2.JPG");
	background-size: contain;
	background-repeat: no-repeat;
}

#blogOO {
	width: 900px;
	margin: auto;
}

#blogOO h2 {
	border: 2px solid black;
	text-align: center;
	padding: 30px;
	background-color: #C77583;
}

#header2blogOO {
	background-color: #C77583;
	color: black;
	text-align: center;
	padding: 20px;
	clear: left;
}

#blogNVT {
	width: 900px;
	margin: auto;
}

#blogNVT h2 {
	border: 2px solid black;
	text-align: center;
	padding: 30px;
	background-color: #BB596A;
}

#header2blogNVT {
	background-color: #BB596A;
	color: color;
	text-align: center;
	padding: 20px;
	clear: left;
}

#address {
	text-align: center;
}

#address a {
	text-decoration: underline;
	color: blue;
}

#address img {
	width: 40px;
	height: 45px:
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: right;
}
